<div class="content content_top_margin">
    <div class="content_inner  ">
        <div class="container">
            <div class="container_inner default_template_holder clearfix page_container_inner">
                <div id="pmpro_level-2">
                    <style>
                        .p-text-wrap {
                            margin: 0;
                            padding: 0 !important;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .user-choice {
                            margin: 10px;
                            text-align: end;
                        }

                        .user-choice button {
                            height: 30px;
                            background-color: cadetblue;
                            border-color: rgb(42, 147, 153)
                        }

                        .user-choice button:focus {
                            background-color: rgb(51, 187, 51);
                            border-color: rgb(40, 143, 40)
                        }

                        .inline-row {
                            display: inline-flex
                        }

                        .search-row {

                            width: 140px;
                            height: 200px;
                            background-color: aliceblue;
                            text-align: center;
                        }

                        .css-image {
                            height: 80px;
                            width: 80px;
                            border-radius: 50%
                        }

                        .checked {
                            color: orange;
                        }
                    </style>


                    <form style="margin:10px 10px 10px 10px;border:solid 2px rgb(230, 172, 182);padding:10px 10px 10px 10px" id="pmpro_form"
                        class="pmpro_form" action="" method="post">

                        <div class="user-choice">
                            <button ng-click="doPostJob()">Post Job</button>

                        </div>



                        <input type="hidden" id="level" name="level" value="2" />
                        <input type="hidden" id="checkjavascript" name="checkjavascript" value="1" />

                        <div id="pmpro_message" class="pmpro_message" style="display: none;"></div>

                        <div id="pmpro_pricing_fields" class="pmpro_checkout">
                            <!-- end pmpro_checkout-fields -->
                        </div>
                        <!-- end pmpro_pricing_fields -->


                        <div ng-if="postJob" id="pmpro_user_fields" class="pmpro_checkout">







                            <div class="pmpro_checkout-fields">
                                <div class="pmpro_checkout-field pmpro_checkout-field-username">
                                    <label>Expertise</label>
                                    <select ng-model="data.business_type">
                                        <option value="HairDresser">Hair Dresser</option>
                                        <option value="HouseCleaner">House Cleaner</option>
                                        <option value="Housesitter">Housesitter</option>
                                        <option value="IndependentTourGuide">Independent Tour Guide</option>
                                        <option value="MassageTherapist">Massage Therapist</option>
                                        <option value="MealPlanningExpert">Meal Planning Expert</option>
                                        <option value="MusicInstructor">Music Instructor</option>
                                        <option value="NurseCaseWorker">Nurse Case Worker</option>


                                    </select>
                                </div>
                                <!-- end pmpro_checkout-field-username -->


                                <div class="pmpro_checkout-field pmpro_checkout-field-bconfirmemail">
                                    <label for="jobdescription">Job Descrtion</label>
                                    <textarea id="jobdescription" ng-model="data.jobdescription" name="jobdescription" type="text" class="input pmpro_required"
                                        size="30" value=""></textarea>

                                </div>

                                <div class="pmpro_checkout-field pmpro_checkout-field-password">
                                    <label for="state">State/Province</label>
                                    <input ng-model="data.state" id="state" name="state" type="text" class="input pmpro_required" size="30" value="" />
                                </div>

                                <div class="pmpro_checkout-field pmpro_checkout-field-password">
                                    <label for="duration">Duration</label>
                                    <input ng-model="data.duration" id="duration" name="duration" type="text" class="input pmpro_required" size="30" value=""
                                    />
                                </div>

                                <div class="pmpro_checkout-field pmpro_checkout-field-password">
                                    <label for="budget">Budget</label>
                                    <input ng-model="data.budget" id="budget" name="budget" type="text" class="input pmpro_required" size="30" value="" />
                                </div>
                                <!-- end pmpro_checkout-field-password -->

                                <div class="pmpro_checkout-field pmpro_checkout-field-password2">
                                    <label for="zip">Zip</label>
                                    <input id="zip" ng-model="data.zip" name="zip" type="text" class="input pmpro_required" size="30" value="" />
                                </div>
                                <!-- end pmpro_checkout-field-password2 -->


                                <div class="pmpro_checkout-field pmpro_checkout-field-bemail">
                                    <label for="country">Country</label>
                                    <input ng-model="country" id="country" name="country" type="text" class="input pmpro_required" size="30" value="" />
                                </div>
                                <!-- end pmpro_checkout-field-bemail -->

                                <div class="pmpro_checkout-field pmpro_checkout-field-bconfirmemail">
                                    <label for="phone">PHONE</label>
                                    <input id="phone" ng-model="phoneNumber" name="phone" type="text" class="input pmpro_required" size="30" value="" />
                                </div>




                                <!-- end pmpro_checkout-field-bconfirmemail -->


                                <div class="pmpro_checkout-field pmpro_captcha">
                                </div>
                                <!-- end pmpro_captcha -->

                            </div>
                            <style>
                                button:hover {
                                    box-shadow: 1px 1px #979797
                                }

                                button {
                                    color: rgb(255, 255, 255);
                                    background-color: rgb(253, 57, 74);
                                    width: 80px;
                                    height: 40px;
                                    border-color: rgba(201, 25, 25, 0.479)
                                }

                                input {
                                    border-radius: 30px;
                                    width: 400px;
                                    height: 20px;

                                }

                                input:active,
                                input:focus {
                                    background-color: rgba(83, 189, 83, 0.493)
                                }

                                .toast-top-full-width {
                                    margin-top: 100px;
                                    width: 360px;

                                }

                                .p-text-wrap {
                                    margin: 0;
                                    padding: 0 !important;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            </style>

                            <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>


                            <label ng-if="isLoading">
                                <div class="loader">Loading...</div>
                            </label>


                            <button ng-click="doSaveJob()" style="">Post Job</button>


                            <!-- end pmpro_checkout-fields -->
                        </div>


                        <div>
                            <label for="">
                                Job Posted
                            </label>
                            <hr />

                            <div class="inline-row">

                                <div class="search-row" ng-repeat="job in jobs">
                                    <div class="card">
                                        <img class="css-image" src="images/cover1.jpg" alt="John">
                                        <h4 class="p-text-wrap">{{job.business_type}}</h4>
                                        <span ng-if="job.josStatus == just_posted">
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </span>
                                        <p>
                                            <button class="card-button">Just Posted</button>
                                        </p>
                                    </div>
                                </div>



                            </div>

                            <hr />

                        </div>
                        <!-- end pmpro_user_fields -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>