<div class="content content_top_margin">
	<div class="content_inner  ">
		<div class="container">
			<div class="container_inner default_template_holder clearfix page_container_inner">
				<div id="pmpro_level-2">

					<form style="margin:10px 10px 10px 10px;border:solid 2px rgb(230, 172, 182);padding:10px 10px 10px 10px" id="pmpro_form"
					 class="pmpro_form" action="" method="post">

						<input type="hidden" id="level" name="level" value="2" />
						<input type="hidden" id="checkjavascript" name="checkjavascript" value="1" />

						<div id="pmpro_message" class="pmpro_message" style="display: none;"></div>

						<div id="pmpro_pricing_fields" class="pmpro_checkout">
							<h3>
								<span class="pmpro_checkout-h3-name">Membership Level</span>
								<span class="pmpro_checkout-h3-msg">
									<a href="https://www.fembuiz.com.au/membership-account/membership-levels/">change</a>
								</span>
							</h3>
							<div class="pmpro_checkout-fields">
							</div>
							<!-- end pmpro_checkout-fields -->
						</div>
						<!-- end pmpro_pricing_fields -->



						<hr />



						<div id="pmpro_user_fields" class="pmpro_checkout">
							<h3>
								<span class="pmpro_checkout-h3-name">Account Information</span>
								<span class="pmpro_checkout-h3-msg">Already have an account?
									<a href="https://www.fembuiz.com.au/wp-login.php?redirect_to=https%3A%2F%2Fwww.fembuiz.com.au%2Fmembership-account%2Fmembership-checkout%2F%3Flevel%3D2">Log in here</a>
								</span>
							</h3>
							<div class="pmpro_checkout-fields">
								<div class="pmpro_checkout-field pmpro_checkout-field-username">
									<label for="username">Username</label>
									<input ng-model="username" id="username" name="username" type="text" class="input pmpro_required" size="30" value="" />
								</div>
								<!-- end pmpro_checkout-field-username -->


								<div class="pmpro_checkout-field pmpro_checkout-field-password">
									<label for="password">Password</label>
									<input ng-model="password" id="password" name="password" type="password" class="input pmpro_required" size="30" value=""
									/>
								</div>
								<!-- end pmpro_checkout-field-password -->

								<div class="pmpro_checkout-field pmpro_checkout-field-password2">
									<label for="password2">Confirm Password</label>
									<input id="password2" name="password2" type="password" class="input pmpro_required" size="30" value="" />
								</div>
								<!-- end pmpro_checkout-field-password2 -->


								<div class="pmpro_checkout-field pmpro_checkout-field-bemail">
									<label for="bemail">E-mail Address</label>
									<input ng-model="email" id="bemail" name="bemail" type="email" class="input pmpro_required" size="30" value="" />
								</div>
								<!-- end pmpro_checkout-field-bemail -->

								<div class="pmpro_checkout-field pmpro_checkout-field-bconfirmemail">
									<label for="bconfirmemail">Confirm E-mail Address</label>
									<input id="bconfirmemail" name="bconfirmemail" type="email" class="input pmpro_required" size="30" value="" />
								</div>
								<!-- end pmpro_checkout-field-bconfirmemail -->


								<div class="pmpro_hidden">
									<label for="fullname">Full Name</label>
									<input ng-model="fullname" id="fullname" name="fullname" type="text" class="input " size="30" value="" />
									<strong>LEAVE THIS BLANK</strong>
								</div>
								<!-- end pmpro_hidden -->

								<div class="pmpro_checkout-field pmpro_captcha">
								</div>
								<!-- end pmpro_captcha -->

							</div>
							<style>
								button:hover {
									box-shadow: 1px 1px #979797
								}

								button {
									color: rgb(255, 255, 255);
									background-color: rgb(253, 57, 74);
									width: 80px;
									height: 40px;
									border-color: rgba(201, 25, 25, 0.479)
								}

								input {
									border-radius: 30px;
									width: 400px;
									height: 20px;

								}

								input:active,
								input:focus {
									background-color: rgba(83, 189, 83, 0.493)
								}

								.toast-top-full-width {
									margin-top: 100px;
									width: 360px;

								}
							</style>

							<toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>


							<button ng-click="doCheckOut()" style="">CheckOut</button>

							<div>
								isAdmin
								<input ng-model="isAdmin" style="height:12px;width:12px" type="checkbox" value="isAdmin" />
							</div>

							<!-- end pmpro_checkout-fields -->
						</div>
						<!-- end pmpro_user_fields -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>